@use "sass:map";

*, ::after, ::before {
	box-sizing: border-box;
}

html {
	background-color: $color-paper;
	padding: 0 $unit-md-1 $unit-md-1 $unit-md-1;
}

body {
	font-family: $font-family-roboto;
	color: $color-text;
	background-color: $color-bg-main;
	margin: 0;
	height: 100%;
	margin-top: 330px;
	margin-bottom: -400px;
	border-radius: $unit-sm-1;
}

section {
	margin-bottom: $unit-lg-1;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

.container {
	margin: 0 auto;
	padding: 0 $unit-base $unit-base $unit-base;
	max-width: map.get($breakpoints, xl);
}