#accordion {
	width: 100%;

	.accordion-item {
		border: 2px solid $color-text;

		.accordion-heading {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 2px solid $color-text;
			padding: $unit-base;
		}

		.accordion-content {
			max-height: 0;
			overflow: hidden;
			padding: 0;

			&.active {
				max-height: 500px;
				padding: $unit-base;
			}
		}
	}
}