.btn {
	cursor: pointer;
	position: relative;
	border: $unit-xs-2 solid $color-text;
	outline: none;
	border-radius: $unit-sm-1;
	color: $color-text;
	background-color: $color-paper;
	text-transform: uppercase;
	min-width: $unit-lg-2 * .8;
	height: $unit-md-2 * .8;
	padding-bottom: $unit-sm-2;
	font-family: $font-family-button;
	font-weight: 700;
	font-size: $unit-base;
	box-shadow: inset 0 -8px 0 0 $color-btn-shadow;
	background-image: url("../static/btn_liquid.png");
	background-repeat: repeat-x;
  	background-position: 0 -100%;
	transition: color .2s ease .5s, box-shadow .2s ease .5s, background-position 2s ease-out;

	&:hover {
		color: $color-paper;
		box-shadow: inset 0 -8px 0 0 $color-purple;
		background-position: 500% 100%;
		transition: box-shadow .2s ease 0;
	}

	@media screen and (min-width: $breakpoint-md) {
		min-width: $unit-lg-2;
		height: $unit-md-2;
	}
}