#grid {
	width: 100%;

	.grid-util {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin-bottom: $unit-md-1;

		.grid-util--select {
			display: flex;
			align-items: center;
			margin-bottom: $unit-base;
			width: 100%;

			span {
				font-size: $h4-font-size;
				font-weight: 500;
				text-transform: uppercase;
				margin-right: $unit-sm-3;
				white-space: nowrap;
			}

			select {
				width: 100%;
				border: $unit-xs-2 solid $color-text;
				border-radius: $unit-sm-1;
				padding: $unit-sm-2;
				color: $color-text;
				background-color: $color-paper;
				text-transform: uppercase;
				font-family: $font-family-button;
				font-weight: 700;
				font-size: $unit-base;
			}
		}

		.btn {
			width: 100%;
			margin-bottom: $unit-sm-3;
		}

		hr {
			display: none;
			width: 100%;
			height: $unit-xs-1;
			background-color: $color-text;
			border: $unit-xs-1 solid $color-text;
    		border-radius: $unit-sm-2;
			margin: $unit-md-1 0;
			align-self: flex-end;
		}

		@media screen and (min-width: $breakpoint-lg) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.grid-util--select {
				margin-right: $unit-base;
				margin-bottom: 0;
			}

			.btn {
				margin-right: $unit-base;
				margin-bottom: 0;
			}

			hr {
				display: inherit;
			}
		}
	}

	#grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		grid-gap: $unit-base;
		justify-items: center;
		align-items: center;
	}

	.grid-item {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		border: $unit-xs-2 solid $color-text;
		border-radius: $unit-base;
		background-color: $color-paper;
		box-shadow: inset 0 -15px 0 0 $color-blue;

		.grid-heading, .grid-content {
			padding: $unit-base;
		}

		.grid-heading {
			h3 {
				margin: 0;
				text-decoration: underline;
				text-decoration-color: $color-purple;
				text-decoration-thickness: 15%;
				text-decoration-skip-ink: auto;
			}
		}

		.grid-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			padding-bottom: $unit-base * 2;

			h4 {
				margin: 0;
				margin-bottom: $unit-base;
			}

			date {
				font-style: italic;
			}

			.description {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}

			.abv {
				align-self: flex-end;
				font-weight: 700;
			}
		}

		// When a grid item is being added
		&.appear {
			animation: appear .5s ease-in-out;
			animation-fill-mode: forwards;

			@keyframes appear {
				0% {
					opacity: 0;
				}

				100% {
					opacity: 1;
				}
			}
		}

		// When a grid item is being removed
		&.vanish {
			animation: vanish .5s ease-in-out;
			animation-fill-mode: forwards;

			// Delay animation for each grid item
			@for $i from 1 through 8 {
				&:nth-child(#{$i}) {
					animation-delay: $i * .1s;
				}
			}

			@keyframes vanish {
				0% {
					transform: translateX(0%);
				}

				100% {
					transform: translateX(500%);
				}
			}
		}
	}
}