.main-heading {
	position: relative;
	padding-top: $unit-lg-1;

	@media screen and (min-width: $breakpoint-lg) {
		padding-top: $unit-lg-2;
	}

	.title {
		position: absolute;
		top: -80px;
		left: 0;
		height: 100px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.title--letters {
			height: 100%;
		}

		@media screen and (min-width: $breakpoint-sm) {
			height: 150px;
		}

		@media screen and (min-width: $breakpoint-lg) {
			top: -170px;
			height: 250px;
		}
	}

	// Hidden. Purely for symantics.
	h1 {
		display: none;
	}

	.definition {
		margin-bottom: $unit-lg-1;

		h2 {
			margin-top: 0;
			margin-bottom: $unit-md-1;
		}

		hr {
			height: $unit-xs-1;
			background-color: $color-text;
			border: $unit-xs-2 solid $color-text;
    		border-radius: $unit-sm-2;
			margin: $unit-md-1 0;
		}

		p {
			font-size: $h3-font-size;
			margin-top: 0;
			margin-bottom: $unit-sm-1;

			&.quote {
				font-style: italic;
				font-weight: 300;
			}
		}
	}
}

.wavy-svg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 330px;
	padding: 195px $unit-md-1 0 $unit-md-1;

	@media screen and (min-width: $breakpoint-sm) {
		display: inherit;
	}
}
